# JSON - Lab

## Introduction

In this lab, you'll practice navigating JSON data structures.

## Objectives

You will be able to:

* Practice using Python to load and parse JSON documents

## Your Task: Find the Total Payments for Each Candidate

We will be using the same dataset, `nyc_2001_campaign_finance.json`, as in the previous lesson. Recall that the description is:

> A listing of public funds payments for candidates for City office during the 2001 election cycle

For added context, the Ciy of New York provides matching funds for eligible contributions made to candidates, using various ratios depending on the contribution amount ([more details here](https://en.wikipedia.org/wiki/New_York_City_Campaign_Finance_Board#The_Campaign_Finance_Program)). So these are not the complete values of all funds raised by these candidates, they are the amounts matched by the city. For that reason we expect that some of the values will be identical for different candidates.

Recall also that the dataset is separated into `meta`, which contains metadata, and `data`, which contains the actual campaign finance records. You will need to use the information in `meta` to understand how to interpret the information in `data`.

Your goal is to create a list of tuples, where the first value in each tuple is the name of a candidate in the 2001 election, and the second value is the total payments they received. The structure should look like this:

```python
[
    ("John Smith", 62184.00),
    ("Jane Doe", 133146.00),
    ...
]
```

The list should contain 284 tuples, since there were 284 candidates.

## Open the Dataset

Import the `json` module, open the `nyc_2001_campaign_finance.json` file using the built-in Python `open` function, and load all of the data from the file into a Python object using `json.load`.

Assign the result of `json.load` to the variable name `data`.

In [3]:
# Your code here
import os
import json
import pandas as pd
fileName = 'nyc_2001_campaign_finance.json'
filePntr = open(fileName, encoding = 'utf-8')
data     = json.load(filePntr)
data.keys()

dict_keys(['meta', 'data'])

Recall the overall structure of this dataset:

In [4]:
# Run this cell without changes

print(f"The overall data type is {type(data)}")
print(f"The keys are {list(data.keys())}")
print()
print("The value associated with the 'meta' key has metadata, including all of these attributes:")
print(list(data['meta']['view'].keys()))
print()
print(f"The value associated with the 'data' key is a list of {len(data['data'])} records")

The overall data type is <class 'dict'>
The keys are ['meta', 'data']

The value associated with the 'meta' key has metadata, including all of these attributes:
['id', 'name', 'attribution', 'averageRating', 'category', 'createdAt', 'description', 'displayType', 'downloadCount', 'hideFromCatalog', 'hideFromDataJson', 'indexUpdatedAt', 'newBackend', 'numberOfComments', 'oid', 'provenance', 'publicationAppendEnabled', 'publicationDate', 'publicationGroup', 'publicationStage', 'rowClass', 'rowsUpdatedAt', 'rowsUpdatedBy', 'tableId', 'totalTimesRated', 'viewCount', 'viewLastModified', 'viewType', 'columns', 'grants', 'metadata', 'owner', 'query', 'rights', 'tableAuthor', 'tags', 'flags']

The value associated with the 'data' key is a list of 285 records

## Find the Column Names

We know that each record in the data list looks something like this:

In [7]:
# Run this cell without changes
data['data'][1]

[2,
 '9D257416-581A-4C42-85CC-B6EAD9DED97F',
 2,
 1315925633,
 '392904',
 1315925633,
 '392904',
 '{\n}',
 '2001',
 'B4',
 'Aboulafia, Sandy',
 '5',
 None,
 '44',
 'P',
 '45410.00',
 '0',
 '0',
 '45410.00']

We could probably guess which of those values is the candidate name, but it's unclear which value is the total payments received. To get that information, we need to look at the metadata.

Investigate the value of `data['meta']['view']['columns']`. It currently contains significantly more information than we need. Extract just the values associated with the `name` keys, so we have a list of the column names.

The result should look something like this:

```python
[
    "sid",
    "id",
    "position",
    ...
]
```

Name this variable `column_names`.

In [13]:
# Your code here (create more cells as needed)
data['meta']['view'].keys()

dict_keys(['id', 'name', 'attribution', 'averageRating', 'category', 'createdAt', 'description', 'displayType', 'downloadCount', 'hideFromCatalog', 'hideFromDataJson', 'indexUpdatedAt', 'newBackend', 'numberOfComments', 'oid', 'provenance', 'publicationAppendEnabled', 'publicationDate', 'publicationGroup', 'publicationStage', 'rowClass', 'rowsUpdatedAt', 'rowsUpdatedBy', 'tableId', 'totalTimesRated', 'viewCount', 'viewLastModified', 'viewType', 'columns', 'grants', 'metadata', 'owner', 'query', 'rights', 'tableAuthor', 'tags', 'flags'])

In [19]:
for k,v in data['meta']['view'].items():
    print(k,'|',v)
    print('-------------------------------')

id | 8dhd-zvi6
-------------------------------
name | 2001 Campaign Payments
-------------------------------
attribution | Campaign Finance Board (CFB)
-------------------------------
averageRating | 0
-------------------------------
category | City Government
-------------------------------
createdAt | 1315950830
-------------------------------
description | A listing of public funds payments for candidates for City office during the 2001 election cycle
-------------------------------
displayType | table
-------------------------------
downloadCount | 1470
-------------------------------
hideFromCatalog | False
-------------------------------
hideFromDataJson | False
-------------------------------
indexUpdatedAt | 1536596254
-------------------------------
newBackend | False
-------------------------------
numberOfComments | 0
-------------------------------
oid | 4140996
-------------------------------
provenance | official
-------------------------------
publicationAppendEnabled | False
-------------------------------
publicationDate | 1371845179
-------------------------------
publicationGroup | 240370
-------------------------------
publicationStage | published
-------------------------------
rowClass |
-------------------------------
rowsUpdatedAt | 1371845177
-------------------------------
rowsUpdatedBy | 5fuc-pqz2
-------------------------------
tableId | 932968
-------------------------------
totalTimesRated | 0
-------------------------------
viewCount | 233
-------------------------------
viewLastModified | 1536605717
-------------------------------
viewType | tabular
-------------------------------
columns | [{'id': -1, 'name': 'sid', 'dataTypeName': 'meta_data', 'fieldName': ':sid', 'position': 0, 'renderTypeName': 'meta_data', 'format': {}, 'flags': ['hidden']}, {'id': -1, 'name': 'id', 'dataTypeName': 'meta_data', 'fieldName': ':id', 'position': 0, 'renderTypeName': 'meta_data', 'format': {}, 'flags': ['hidden']}, {'id': -1, 'name': 'position', 'dataTypeName': 'meta_data', 'fieldName': ':position', 'position': 0, 'renderTypeName': 'meta_data', 'format': {}, 'flags': ['hidden']}, {'id': -1, 'name': 'created_at', 'dataTypeName': 'meta_data', 'fieldName': ':created_at', 'position': 0, 'renderTypeName': 'meta_data', 'format': {}, 'flags': ['hidden']}, {'id': -1, 'name': 'created_meta', 'dataTypeName': 'meta_data', 'fieldName': ':created_meta', 'position': 0, 'renderTypeName': 'meta_data', 'format': {}, 'flags': ['hidden']}, {'id': -1, 'name': 'updated_at', 'dataTypeName': 'meta_data', 'fieldName': ':updated_at', 'position': 0, 'renderTypeName': 'meta_data', 'format': {}, 'flags': ['hidden']}, {'id': -1, 'name': 'updated_meta', 'dataTypeName': 'meta_data', 'fieldName': ':updated_meta', 'position': 0, 'renderTypeName': 'meta_data', 'format': {}, 'flags': ['hidden']}, {'id': -1, 'name': 'meta', 'dataTypeName': 'meta_data', 'fieldName': ':meta', 'position': 0, 'renderTypeName': 'meta_data', 'format': {}, 'flags': ['hidden']}, {'id': 75768833, 'name': 'ELECTION', 'dataTypeName': 'number', 'fieldName': 'election', 'position': 2, 'renderTypeName': 'number', 'tableColumnId': 1518991, 'width': 196, 'cachedContents': {'non_null': 284, 'average': '2001', 'largest': '2001', 'null': 1, 'top': [{'item': '2001', 'count': 20}], 'smallest': '2001', 'sum': '568284'}, 'format': {'precisionStyle': 'standard', 'noCommas': 'true', 'align': 'right'}}, {'id': 75768834, 'name': 'CANDID', 'dataTypeName': 'text', 'fieldName': 'candid', 'position': 3, 'renderTypeName': 'text', 'tableColumnId': 1518992, 'width': 172, 'cachedContents': {'non_null': 285, 'largest': 'YA', 'null': 0, 'top': [{'item': '490', 'count': 20}, {'item': '577', 'count': 19}, {'item': 'GF', 'count': 18}, {'item': '265', 'count': 17}, {'item': '549', 'count': 16}, {'item': '260', 'count': 15}, {'item': 'DH', 'count': 14}, {'item': '168', 'count': 13}, {'item': '561', 'count': 12}, {'item': '317', 'count': 11}, {'item': '240', 'count': 10}, {'item': 'B1', 'count': 9}, {'item': '337', 'count': 8}, {'item': '202', 'count': 7}, {'item': 'DP', 'count': 6}, {'item': '554', 'count': 5}, {'item': '529', 'count': 4}, {'item': '521', 'count': 3}, {'item': 'CY', 'count': 2}, {'item': '327', 'count': 1}], 'smallest': '148'}, 'format': {}}, {'id': 75768835, 'name': 'CANDNAME', 'dataTypeName': 'text', 'fieldName': 'candname', 'position': 4, 'renderTypeName': 'text', 'tableColumnId': 1518993, 'width': 196, 'cachedContents': {'non_null': 285, 'largest': 'Zett, Lori M', 'null': 0, 'top': [{'item': 'Taitt, Samuel A', 'count': 20}, {'item': 'Taliaferro, Phyllis', 'count': 19}, {'item': 'Taveras, Germania', 'count': 18}, {'item': 'Thakral, Jairam D', 'count': 17}, {'item': 'Thomas, Carl W', 'count': 16}, {'item': 'Thompson, Jr., William C', 'count': 15}, {'item': 'Tiraco, Joseph E', 'count': 14}, {'item': 'Toney, Vaughan', 'count': 13}, {'item': 'Toppin, Roger N', 'count': 12}, {'item': 'Torres, Mario A', 'count': 11}, {'item': 'Vallone, Jr., Peter F', 'count': 10}, {'item': 'Vallone, Peter F', 'count': 9}, {'item': 'Van Bramer, James G', 'count': 8}, {'item': 'Vann, Albert', 'count': 7}, {'item': 'Vargas, Ruben Dario', 'count': 6}, {'item': 'Vassos, Sandra', 'count': 5}, {'item': 'Vernet, Jean D', 'count': 4}, {'item': 'Viest, Nicholas D', 'count': 3}, {'item': 'Villaverde, Sergio', 'count': 2}, {'item': 'Vogel, Mark H', 'count': 1}], 'smallest': 'Aboulafia, Sandy'}, 'format': {}}, {'id': 75768836, 'name': 'OFFICECD', 'dataTypeName': 'number', 'fieldName': 'officecd', 'position': 5, 'renderTypeName': 'number', 'tableColumnId': 1518994, 'width': 196, 'cachedContents': {'non_null': 284, 'average': '4.700704225352113', 'largest': '5', 'null': 1, 'top': [{'item': '5', 'count': 20}, {'item': '1', 'count': 19}, {'item': '3', 'count': 18}, {'item': '4', 'count': 17}, {'item': '2', 'count': 16}], 'smallest': '1', 'sum': '1335'}, 'format': {}}, {'id': 75768837, 'name': 'OFFICEBORO', 'dataTypeName': 'text', 'fieldName': 'officeboro', 'position': 6, 'renderTypeName': 'text', 'tableColumnId': 1518995, 'width': 220, 'cachedContents': {'non_null': 21, 'largest': 'X', 'null': 264, 'top': [{'item': 'OFFICEBORO', 'count': 20}, {'item': 'X', 'count': 19}, {'item': 'M', 'count': 18}, {'item': 'K', 'count': 17}, {'item': 'Q', 'count': 16}, {'item': 'S', 'count': 15}], 'smallest': 'K'}, 'format': {}}, {'id': 75768838, 'name': 'OFFICEDIST', 'dataTypeName': 'number', 'fieldName': 'officedist', 'position': 7, 'renderTypeName': 'number', 'tableColumnId': 1518996, 'width': 220, 'cachedContents': {'non_null': 245, 'average': '26.33061224489796', 'largest': '51', 'null': 40, 'top': [{'item': '7', 'count': 20}, {'item': '32', 'count': 19}, {'item': '37', 'count': 18}, {'item': '28', 'count': 17}, {'item': '19', 'count': 16}, {'item': '39', 'count': 15}, {'item': '35', 'count': 14}, {'item': '42', 'count': 13}, {'item': '31', 'count': 12}, {'item': '6', 'count': 11}, {'item': '47', 'count': 10}, {'item': '20', 'count': 9}, {'item': '1', 'count': 8}, {'item': '27', 'count': 7}, {'item': '26', 'count': 6}, {'item': '10', 'count': 5}, {'item': '34', 'count': 4}, {'item': '45', 'count': 3}, {'item': '40', 'count': 2}, {'item': '12', 'count': 1}], 'smallest': '1', 'sum': '6451'}, 'format': {}}, {'id': 75768839, 'name': 'CANCLASS', 'dataTypeName': 'text', 'fieldName': 'canclass', 'position': 8, 'renderTypeName': 'text', 'tableColumnId': 1518997, 'width': 196, 'cachedContents': {'non_null': 285, 'largest': 'P', 'null': 0, 'top': [{'item': 'CANCLASS', 'count': 20}, {'item': 'P', 'count': 19}], 'smallest': 'CANCLASS'}, 'format': {}}, {'id': 75768840, 'name': 'PRIMARYPAY', 'dataTypeName': 'number', 'fieldName': 'primarypay', 'position': 9, 'renderTypeName': 'number', 'tableColumnId': 1518998, 'width': 220, 'cachedContents': {'non_null': 284, 'average': '112243.9612676056', 'largest': '2846148.00', 'null': 1, 'top': [{'item': '75350.00', 'count': 20}, {'item': '0', 'count': 19}, {'item': '91333.00', 'count': 18}, {'item': '69780.00', 'count': 17}, {'item': '22172.00', 'count': 16}, {'item': '65356.00', 'count': 15}, {'item': '11423.00', 'count': 14}, {'item': '60152.00', 'count': 13}, {'item': '75040.00', 'count': 12}, {'item': '62436.00', 'count': 11}, {'item': '42075.00', 'count': 10}, {'item': '74920.00', 'count': 9}, {'item': '38088.00', 'count': 8}, {'item': '74850.00', 'count': 7}, {'item': '89502.00', 'count': 6}, {'item': '74350.00', 'count': 5}, {'item': '58348.00', 'count': 4}, {'item': '55100.00', 'count': 3}, {'item': '508893.00', 'count': 2}, {'item': '74750.00', 'count': 1}], 'smallest': '0', 'sum': '31877285.00'}, 'format': {}}, {'id': 75768841, 'name': 'GENERALPAY', 'dataTypeName': 'number', 'fieldName': 'generalpay', 'position': 10, 'renderTypeName': 'number', 'tableColumnId': 1518999, 'width': 220, 'cachedContents': {'non_null': 284, 'average': '28753.57394366197', 'largest': '976545.00', 'null': 1, 'top': [{'item': '0', 'count': 20}, {'item': '75350.00', 'count': 19}, {'item': '201131.00', 'count': 18}, {'item': '39760.00', 'count': 17}, {'item': '57796.00', 'count': 16}, {'item': '75200.00', 'count': 15}, {'item': '68234.00', 'count': 14}, {'item': '5732.00', 'count': 13}, {'item': '58488.00', 'count': 12}, {'item': '62184.00', 'count': 11}, {'item': '44748.00', 'count': 10}, {'item': '21946.00', 'count': 9}, {'item': '70500.00', 'count': 8}], 'smallest': '0', 'sum': '8166015.00'}, 'format': {}}, {'id': 75768842, 'name': 'RUNOFFPAY', 'dataTypeName': 'number', 'fieldName': 'runoffpay', 'position': 11, 'renderTypeName': 'number', 'tableColumnId': 1519000, 'width': 208, 'cachedContents': {'non_null': 284, 'average': '7776.778169014085', 'largest': '711537.00', 'null': 1, 'top': [{'item': '0', 'count': 20}, {'item': '267331.00', 'count': 19}, {'item': '574387.00', 'count': 18}, {'item': '303270.00', 'count': 17}, {'item': '711537.00', 'count': 16}, {'item': '114407.00', 'count': 15}, {'item': '237673.00', 'count': 14}], 'smallest': '0', 'sum': '2208605.00'}, 'format': {}}, {'id': 75768843, 'name': 'TOTALPAY', 'dataTypeName': 'number', 'fieldName': 'totalpay', 'position': 12, 'renderTypeName': 'number', 'tableColumnId': 1519001, 'width': 196, 'cachedContents': {'non_null': 284, 'average': '148774.3133802817', 'largest': '4534230.00', 'null': 1, 'top': [{'item': '0', 'count': 20}, {'item': '75350.00', 'count': 19}, {'item': '150700.00', 'count': 18}, {'item': '2458534.00', 'count': 17}, {'item': '133146.00', 'count': 16}, {'item': '75200.00', 'count': 15}, {'item': '68234.00', 'count': 14}, {'item': '70664.00', 'count': 13}, {'item': '58488.00', 'count': 12}, {'item': '50112.00', 'count': 11}, {'item': '62184.00', 'count': 10}, {'item': '44748.00', 'count': 9}, {'item': '21946.00', 'count': 8}, {'item': '41656.00', 'count': 7}, {'item': '61260.00', 'count': 6}, {'item': '145850.00', 'count': 5}, {'item': '35808.00', 'count': 4}, {'item': '12172.00', 'count': 3}], 'smallest': '0', 'sum': '42251905.00'}, 'format': {}}]
-------------------------------
grants | [{'inherited': False, 'type': 'viewer', 'flags': ['public']}]
-------------------------------
metadata | {'rdfSubject': '0', 'rdfClass': '', 'attachments': [{'filename': 'Data_Dictionary_Public_Funds_Payments_FINAL.xlsx', 'assetId': '52a7652b-f286-4000-b43b-b131e8e2559e', 'blobId': '', 'name': 'Data_Dictionary_Public_Funds_Payments_FINAL.xlsx'}], 'custom_fields': {'Update': {'Automation': 'No', 'Date Made Public': '9/13/2011', 'Update Frequency': 'Historical Data'}, 'Legislative Compliance': {'Geo-coding Attached?': ''}, 'Dataset Information': {'Agency': 'Campaign Finance Board (CFB)'}}, 'rowIdentifier': '0', 'rowLabel': ''}
-------------------------------
owner | {'id': '5fuc-pqz2', 'displayName': 'NYC OpenData', 'profileImageUrlLarge': '/api/users/5fuc-pqz2/profile_images/LARGE', 'profileImageUrlMedium': '/api/users/5fuc-pqz2/profile_images/THUMB', 'profileImageUrlSmall': '/api/users/5fuc-pqz2/profile_images/TINY', 'screenName': 'NYC OpenData', 'type': 'interactive', 'flags': ['mayBeStoriesCoOwner']}
-------------------------------
query | {}
-------------------------------
rights | ['read']
-------------------------------
tableAuthor | {'id': '5fuc-pqz2', 'displayName': 'NYC OpenData', 'profileImageUrlLarge': '/api/users/5fuc-pqz2/profile_images/LARGE', 'profileImageUrlMedium': '/api/users/5fuc-pqz2/profile_images/THUMB', 'profileImageUrlSmall': '/api/users/5fuc-pqz2/profile_images/TINY', 'screenName': 'NYC OpenData', 'type': 'interactive', 'flags': ['mayBeStoriesCoOwner']}
-------------------------------
tags | ['finance', 'campaign finance board', 'cfb', 'nyccfb', 'campaign finance', 'elections', 'contributions', 'politics', 'campaign', 'funding']
-------------------------------
flags | ['default', 'restorable', 'restorePossibleForType']
-------------------------------

In [20]:
data['meta']['view']['columns']

[{'id': -1,
  'name': 'sid',
  'dataTypeName': 'meta_data',
  'fieldName': ':sid',
  'position': 0,
  'renderTypeName': 'meta_data',
  'format': {},
  'flags': ['hidden']},
 {'id': -1,
  'name': 'id',
  'dataTypeName': 'meta_data',
  'fieldName': ':id',
  'position': 0,
  'renderTypeName': 'meta_data',
  'format': {},
  'flags': ['hidden']},
 {'id': -1,
  'name': 'position',
  'dataTypeName': 'meta_data',
  'fieldName': ':position',
  'position': 0,
  'renderTypeName': 'meta_data',
  'format': {},
  'flags': ['hidden']},
 {'id': -1,
  'name': 'created_at',
  'dataTypeName': 'meta_data',
  'fieldName': ':created_at',
  'position': 0,
  'renderTypeName': 'meta_data',
  'format': {},
  'flags': ['hidden']},
 {'id': -1,
  'name': 'created_meta',
  'dataTypeName': 'meta_data',
  'fieldName': ':created_meta',
  'position': 0,
  'renderTypeName': 'meta_data',
  'format': {},
  'flags': ['hidden']},
 {'id': -1,
  'name': 'updated_at',
  'dataTypeName': 'meta_data',
  'fieldName': ':updated_at',
  'position': 0,
  'renderTypeName': 'meta_data',
  'format': {},
  'flags': ['hidden']},
 {'id': -1,
  'name': 'updated_meta',
  'dataTypeName': 'meta_data',
  'fieldName': ':updated_meta',
  'position': 0,
  'renderTypeName': 'meta_data',
  'format': {},
  'flags': ['hidden']},
 {'id': -1,
  'name': 'meta',
  'dataTypeName': 'meta_data',
  'fieldName': ':meta',
  'position': 0,
  'renderTypeName': 'meta_data',
  'format': {},
  'flags': ['hidden']},
 {'id': 75768833,
  'name': 'ELECTION',
  'dataTypeName': 'number',
  'fieldName': 'election',
  'position': 2,
  'renderTypeName': 'number',
  'tableColumnId': 1518991,
  'width': 196,
  'cachedContents': {'non_null': 284,
   'average': '2001',
   'largest': '2001',
   'null': 1,
   'top': [{'item': '2001', 'count': 20}],
   'smallest': '2001',
   'sum': '568284'},
  'format': {'precisionStyle': 'standard',
   'noCommas': 'true',
   'align': 'right'}},
 {'id': 75768834,
  'name': 'CANDID',
  'dataTypeName': 'text',
  'fieldName': 'candid',
  'position': 3,
  'renderTypeName': 'text',
  'tableColumnId': 1518992,
  'width': 172,
  'cachedContents': {'non_null': 285,
   'largest': 'YA',
   'null': 0,
   'top': [{'item': '490', 'count': 20},
    {'item': '577', 'count': 19},
    {'item': 'GF', 'count': 18},
    {'item': '265', 'count': 17},
    {'item': '549', 'count': 16},
    {'item': '260', 'count': 15},
    {'item': 'DH', 'count': 14},
    {'item': '168', 'count': 13},
    {'item': '561', 'count': 12},
    {'item': '317', 'count': 11},
    {'item': '240', 'count': 10},
    {'item': 'B1', 'count': 9},
    {'item': '337', 'count': 8},
    {'item': '202', 'count': 7},
    {'item': 'DP', 'count': 6},
    {'item': '554', 'count': 5},
    {'item': '529', 'count': 4},
    {'item': '521', 'count': 3},
    {'item': 'CY', 'count': 2},
    {'item': '327', 'count': 1}],
   'smallest': '148'},
  'format': {}},
 {'id': 75768835,
  'name': 'CANDNAME',
  'dataTypeName': 'text',
  'fieldName': 'candname',
  'position': 4,
  'renderTypeName': 'text',
  'tableColumnId': 1518993,
  'width': 196,
  'cachedContents': {'non_null': 285,
   'largest': 'Zett, Lori M',
   'null': 0,
   'top': [{'item': 'Taitt, Samuel A', 'count': 20},
    {'item': 'Taliaferro, Phyllis', 'count': 19},
    {'item': 'Taveras, Germania', 'count': 18},
    {'item': 'Thakral, Jairam D', 'count': 17},
    {'item': 'Thomas, Carl W', 'count': 16},
    {'item': 'Thompson, Jr., William C', 'count': 15},
    {'item': 'Tiraco, Joseph E', 'count': 14},
    {'item': 'Toney, Vaughan', 'count': 13},
    {'item': 'Toppin, Roger N', 'count': 12},
    {'item': 'Torres, Mario A', 'count': 11},
    {'item': 'Vallone, Jr., Peter F', 'count': 10},
    {'item': 'Vallone, Peter F', 'count': 9},
    {'item': 'Van Bramer, James G', 'count': 8},
    {'item': 'Vann, Albert', 'count': 7},
    {'item': 'Vargas, Ruben Dario', 'count': 6},
    {'item': 'Vassos, Sandra', 'count': 5},
    {'item': 'Vernet, Jean D', 'count': 4},
    {'item': 'Viest, Nicholas D', 'count': 3},
    {'item': 'Villaverde, Sergio', 'count': 2},
    {'item': 'Vogel, Mark H', 'count': 1}],
   'smallest': 'Aboulafia, Sandy'},
  'format': {}},
 {'id': 75768836,
  'name': 'OFFICECD',
  'dataTypeName': 'number',
  'fieldName': 'officecd',
  'position': 5,
  'renderTypeName': 'number',
  'tableColumnId': 1518994,
  'width': 196,
  'cachedContents': {'non_null': 284,
   'average': '4.700704225352113',
   'largest': '5',
   'null': 1,
   'top': [{'item': '5', 'count': 20},
    {'item': '1', 'count': 19},
    {'item': '3', 'count': 18},
    {'item': '4', 'count': 17},
    {'item': '2', 'count': 16}],
   'smallest': '1',
   'sum': '1335'},
  'format': {}},
 {'id': 75768837,
  'name': 'OFFICEBORO',
  'dataTypeName': 'text',
  'fieldName': 'officeboro',
  'position': 6,
  'renderTypeName': 'text',
  'tableColumnId': 1518995,
  'width': 220,
  'cachedContents': {'non_null': 21,
   'largest': 'X',
   'null': 264,
   'top': [{'item': 'OFFICEBORO', 'count': 20},
    {'item': 'X', 'count': 19},
    {'item': 'M', 'count': 18},
    {'item': 'K', 'count': 17},
    {'item': 'Q', 'count': 16},
    {'item': 'S', 'count': 15}],
   'smallest': 'K'},
  'format': {}},
 {'id': 75768838,
  'name': 'OFFICEDIST',
  'dataTypeName': 'number',
  'fieldName': 'officedist',
  'position': 7,
  'renderTypeName': 'number',
  'tableColumnId': 1518996,
  'width': 220,
  'cachedContents': {'non_null': 245,
   'average': '26.33061224489796',
   'largest': '51',
   'null': 40,
   'top': [{'item': '7', 'count': 20},
    {'item': '32', 'count': 19},
    {'item': '37', 'count': 18},
    {'item': '28', 'count': 17},
    {'item': '19', 'count': 16},
    {'item': '39', 'count': 15},
    {'item': '35', 'count': 14},
    {'item': '42', 'count': 13},
    {'item': '31', 'count': 12},
    {'item': '6', 'count': 11},
    {'item': '47', 'count': 10},
    {'item': '20', 'count': 9},
    {'item': '1', 'count': 8},
    {'item': '27', 'count': 7},
    {'item': '26', 'count': 6},
    {'item': '10', 'count': 5},
    {'item': '34', 'count': 4},
    {'item': '45', 'count': 3},
    {'item': '40', 'count': 2},
    {'item': '12', 'count': 1}],
   'smallest': '1',
   'sum': '6451'},
  'format': {}},
 {'id': 75768839,
  'name': 'CANCLASS',
  'dataTypeName': 'text',
  'fieldName': 'canclass',
  'position': 8,
  'renderTypeName': 'text',
  'tableColumnId': 1518997,
  'width': 196,
  'cachedContents': {'non_null': 285,
   'largest': 'P',
   'null': 0,
   'top': [{'item': 'CANCLASS', 'count': 20}, {'item': 'P', 'count': 19}],
   'smallest': 'CANCLASS'},
  'format': {}},
 {'id': 75768840,
  'name': 'PRIMARYPAY',
  'dataTypeName': 'number',
  'fieldName': 'primarypay',
  'position': 9,
  'renderTypeName': 'number',
  'tableColumnId': 1518998,
  'width': 220,
  'cachedContents': {'non_null': 284,
   'average': '112243.9612676056',
   'largest': '2846148.00',
   'null': 1,
   'top': [{'item': '75350.00', 'count': 20},
    {'item': '0', 'count': 19},
    {'item': '91333.00', 'count': 18},
    {'item': '69780.00', 'count': 17},
    {'item': '22172.00', 'count': 16},
    {'item': '65356.00', 'count': 15},
    {'item': '11423.00', 'count': 14},
    {'item': '60152.00', 'count': 13},
    {'item': '75040.00', 'count': 12},
    {'item': '62436.00', 'count': 11},
    {'item': '42075.00', 'count': 10},
    {'item': '74920.00', 'count': 9},
    {'item': '38088.00', 'count': 8},
    {'item': '74850.00', 'count': 7},
    {'item': '89502.00', 'count': 6},
    {'item': '74350.00', 'count': 5},
    {'item': '58348.00', 'count': 4},
    {'item': '55100.00', 'count': 3},
    {'item': '508893.00', 'count': 2},
    {'item': '74750.00', 'count': 1}],
   'smallest': '0',
   'sum': '31877285.00'},
  'format': {}},
 {'id': 75768841,
  'name': 'GENERALPAY',
  'dataTypeName': 'number',
  'fieldName': 'generalpay',
  'position': 10,
  'renderTypeName': 'number',
  'tableColumnId': 1518999,
  'width': 220,
  'cachedContents': {'non_null': 284,
   'average': '28753.57394366197',
   'largest': '976545.00',
   'null': 1,
   'top': [{'item': '0', 'count': 20},
    {'item': '75350.00', 'count': 19},
    {'item': '201131.00', 'count': 18},
    {'item': '39760.00', 'count': 17},
    {'item': '57796.00', 'count': 16},
    {'item': '75200.00', 'count': 15},
    {'item': '68234.00', 'count': 14},
    {'item': '5732.00', 'count': 13},
    {'item': '58488.00', 'count': 12},
    {'item': '62184.00', 'count': 11},
    {'item': '44748.00', 'count': 10},
    {'item': '21946.00', 'count': 9},
    {'item': '70500.00', 'count': 8}],
   'smallest': '0',
   'sum': '8166015.00'},
  'format': {}},
 {'id': 75768842,
  'name': 'RUNOFFPAY',
  'dataTypeName': 'number',
  'fieldName': 'runoffpay',
  'position': 11,
  'renderTypeName': 'number',
  'tableColumnId': 1519000,
  'width': 208,
  'cachedContents': {'non_null': 284,
   'average': '7776.778169014085',
   'largest': '711537.00',
   'null': 1,
   'top': [{'item': '0', 'count': 20},
    {'item': '267331.00', 'count': 19},
    {'item': '574387.00', 'count': 18},
    {'item': '303270.00', 'count': 17},
    {'item': '711537.00', 'count': 16},
    {'item': '114407.00', 'count': 15},
    {'item': '237673.00', 'count': 14}],
   'smallest': '0',
   'sum': '2208605.00'},
  'format': {}},
 {'id': 75768843,
  'name': 'TOTALPAY',
  'dataTypeName': 'number',
  'fieldName': 'totalpay',
  'position': 12,
  'renderTypeName': 'number',
  'tableColumnId': 1519001,
  'width': 196,
  'cachedContents': {'non_null': 284,
   'average': '148774.3133802817',
   'largest': '4534230.00',
   'null': 1,
   'top': [{'item': '0', 'count': 20},
    {'item': '75350.00', 'count': 19},
    {'item': '150700.00', 'count': 18},
    {'item': '2458534.00', 'count': 17},
    {'item': '133146.00', 'count': 16},
    {'item': '75200.00', 'count': 15},
    {'item': '68234.00', 'count': 14},
    {'item': '70664.00', 'count': 13},
    {'item': '58488.00', 'count': 12},
    {'item': '50112.00', 'count': 11},
    {'item': '62184.00', 'count': 10},
    {'item': '44748.00', 'count': 9},
    {'item': '21946.00', 'count': 8},
    {'item': '41656.00', 'count': 7},
    {'item': '61260.00', 'count': 6},
    {'item': '145850.00', 'count': 5},
    {'item': '35808.00', 'count': 4},
    {'item': '12172.00', 'count': 3}],
   'smallest': '0',
   'sum': '42251905.00'},
  'format': {}}]

In [21]:
import pandas as pd
df=pd.DataFrame(data['meta']['view']['columns'])
df

,id,name,dataTypeName,fieldName,position,renderTypeName,format,flags,tableColumnId,width,cachedContents
0,-1,sid,meta_data,:sid,0,meta_data,{},[hidden],NaN,NaN,NaN
1,-1,id,meta_data,:id,0,meta_data,{},[hidden],NaN,NaN,NaN
2,-1,position,meta_data,:position,0,meta_data,{},[hidden],NaN,NaN,NaN
3,-1,created_at,meta_data,:created_at,0,meta_data,{},[hidden],NaN,NaN,NaN
4,-1,created_meta,meta_data,:created_meta,0,meta_data,{},[hidden],NaN,NaN,NaN
5,-1,updated_at,meta_data,:updated_at,0,meta_data,{},[hidden],NaN,NaN,NaN
6,-1,updated_meta,meta_data,:updated_meta,0,meta_data,{},[hidden],NaN,NaN,NaN
7,-1,meta,meta_data,:meta,0,meta_data,{},[hidden],NaN,NaN,NaN
8,75768833,ELECTION,number,election,2,number,"{'precisionStyle': 'standard', 'noCommas': 'tr...",NaN,1518991.0,196.0,"{'non_null': 284, 'average': '2001', 'largest'..."
9,75768834,CANDID,text,candid,3,text,{},NaN,1518992.0,172.0,"{'non_null': 285, 'largest': 'YA', 'null': 0, ..."
10,75768835,CANDNAME,text,candname,4,text,{},NaN,1518993.0,196.0,"{'non_null': 285, 'largest': 'Zett, Lori M', '..."
11,75768836,OFFICECD,number,officecd,5,number,{},NaN,1518994.0,196.0,"{'non_null': 284, 'average': '4.70070422535211..."
12,75768837,OFFICEBORO,text,officeboro,6,text,{},NaN,1518995.0,220.0,"{'non_null': 21, 'largest': 'X', 'null': 264, ..."
13,75768838,OFFICEDIST,number,officedist,7,number,{},NaN,1518996.0,220.0,"{'non_null': 245, 'average': '26.3306122448979..."
14,75768839,CANCLASS,text,canclass,8,text,{},NaN,1518997.0,196.0,"{'non_null': 285, 'largest': 'P', 'null': 0, '..."
15,75768840,PRIMARYPAY,number,primarypay,9,number,{},NaN,1518998.0,220.0,"{'non_null': 284, 'average': '112243.961267605..."
16,75768841,GENERALPAY,number,generalpay,10,number,{},NaN,1518999.0,220.0,"{'non_null': 284, 'average': '28753.5739436619..."
17,75768842,RUNOFFPAY,number,runoffpay,11,number,{},NaN,1519000.0,208.0,"{'non_null': 284, 'average': '7776.77816901408..."
18,75768843,TOTALPAY,number,totalpay,12,number,{},NaN,1519001.0,196.0,"{'non_null': 284, 'average': '148774.313380281..."

In [22]:
column_names = df.name.to_list()
column_names

['sid',
 'id',
 'position',
 'created_at',
 'created_meta',
 'updated_at',
 'updated_meta',
 'meta',
 'ELECTION',
 'CANDID',
 'CANDNAME',
 'OFFICECD',
 'OFFICEBORO',
 'OFFICEDIST',
 'CANCLASS',
 'PRIMARYPAY',
 'GENERALPAY',
 'RUNOFFPAY',
 'TOTALPAY']

In [23]:
# Run this cell without changes

# There should be 19 names
assert len(column_names) == 19
# CANDNAME and TOTALPAY should be in there
assert "CANDNAME" in column_names and "TOTALPAY" in column_names

Ok, now we know what each of the columns represents.

The columns we are looking for are called `CANDNAME` and `TOTALPAY`. Now that we have this list, we should be able to figure out which of the values in each record lines up with those column names.

## Loop Over the Records to Find the Names and Payments

The data records are contained in `data['data']`. Recall that the first (`0`-th) one is more of a header and should be skipped over.

Loop over the records in `data['data']` and extract the name and total payment from the city. Make sure you convert the total payment to a float, then make a tuple representing that candidate. Append the tuple to an overall list of results called `candidate_total_payments`.

In [28]:
# Your code here (create more cells as needed
idxCandName = column_names.index('CANDNAME')
idxTotalPay = column_names.index('TOTALPAY')
intTotNames = len(data['data'])
candidate_total_payments = list()
for cnt in range(1,intTotNames):
    lstCandidateData = data['data'][cnt]
    tplCandidatePay = (lstCandidateData[idxCandName],
                       float(lstCandidateData[idxTotalPay]))
    candidate_total_payments.append(tplCandidatePay)
candidate_total_payments

[('Aboulafia, Sandy', 45410.0),
 ('Adams, Jackie R', 11073.0),
 ('Addabbo, Joseph P', 149320.0),
 ('Alamo-Estrada, Agustin', 27400.0),
 ('Allen, William A', 62990.0),
 ('Alleyne, Alithia', 0.0),
 ('Alonso, Miguel', 36801.0),
 ('Andrews, Jr., Anthony D', 88736.0),
 ('Ariola, JoAnn', 69816.0),
 ('Avella, Tony', 150520.0),
 ('Bader, Paul', 75350.0),
 ('Badillo, Herman', 356723.0),
 ('Baez, Maria', 90262.0),
 ('Baldwin-Ferguson, Imogene', 0.0),
 ('Banks, Steven R', 75350.0),
 ('Barron, Charles', 92498.0),
 ('Bastone, Terry A', 47820.0),
 ('Benjamin, Michael A', 108226.0),
 ('Berman, Herbert E', 1576860.0),
 ('Bernace, Victor A', 19520.0),
 ('Bilal, Charles A', 0.0),
 ('Blake, James', 51676.0),
 ('Bloodsaw, Daryl G', 37312.0),
 ('Bouchard, Michelle', 65704.0),
 ('Brewer, Gale A', 150700.0),
 ('Brook Krasny, Alec', 66304.0),
 ('Brooks, Curtis', 0.0),
 ('Brown, Everly D', 0.0),
 ('Brown, Michael E', 0.0),
 ('Cammarata, Joseph F', 73868.0),
 ('Carrion, Jr., Adolfo', 431802.0),
 ('Carroll, John W', 75350.0),
 ('Castellanos, Francesca M', 21292.0),
 ('Cermeli, Robert', 49572.0),
 ('Chan, Louisa M', 29444.0),
 ('Cheliotes, Arthur', 75350.0),
 ('Chen, Ethel T', 75350.0),
 ('Chin, Margaret S', 164123.0),
 ('Chin, Rockwell J', 166683.0),
 ('Chou, Evergreen C', 0.0),
 ('Ciafone, John J', 0.0),
 ('Clarke, Amanda L', 0.0),
 ('Clarke, Yvette D', 77922.0),
 ('Cohn, Steven D', 147160.0),
 ('Colon, Willie', 0.0),
 ('Comrie, Leroy G', 71388.0),
 ('Conley, Joseph T', 75350.0),
 ('Cooper-Gregory, Helen A', 75350.0),
 ('Crowley, Elizabeth S', 145096.0),
 ('Curran, Robert E', 0.0),
 ('Curry, Anthony', 0.0),
 ('Davis, James E', 122382.0),
 ('de Blasio, Bill', 142885.0),
 ('Del Giorno, Jon R', 75350.0),
 ('Del Villar, Angel', 0.0),
 ('DeMarco Jr., Alexander A', 0.0),
 ('Detiege-Cormier, Roy-Pierre', 0.0),
 ('Diamondstone, Kenneth A', 94946.0),
 ('DiBrienza, Stephen', 1336655.0),
 ('Dilan, Erik M', 80904.0),
 ('Dotson, Heyward H', 0.0),
 ('Doukas, Peter G', 65048.0),
 ('Eagan, Ann', 0.0),
 ('Eisland, June M', 316548.0),
 ('Espada, Jr., Pedro', 0.0),
 ('Espada, Pedro G', 55900.0),
 ('Evans, Jeanette', 0.0),
 ('Faison, Barbara', 0.0),
 ('Falcon-Lopez, Miriam T', 0.0),
 ('Farrakhan, Abdur Rahman', 0.0),
 ('Farrell, Matthew J', 75350.0),
 ('Felder, Simcha', 150700.0),
 ('Ferrer, Fernando', 2871933.0),
 ('Fidler, Lewis A', 142141.0),
 ('Fields, C. Virginia', 444452.0),
 ('Fields, Jessie', 135904.0),
 ('Fisher, Kenneth K', 647350.0),
 ('Flaxman, Sheila S', 0.0),
 ('Flores-Vazquez, Martha', 39476.0),
 ('Foley, Ronald G', 0.0),
 ('Foster, Helen Diane', 131798.0),
 ('Frank, John D', 52968.0),
 ('Fratta, John A', 91333.0),
 ('Freed, Kathryn E', 626484.0),
 ('Fullard, Henrietta', 0.0),
 ('Gadson, Jeanette', 521969.0),
 ('Gallagher, Dennis P', 75350.0),
 ('Gangemi, Ursula A', 48480.0),
 ('Gennaro, James F', 146314.0),
 ('Gerson, Alan J', 165783.0),
 ('Gioia, Eric', 148266.0),
 ('Golden, Martin J', 75350.0),
 ('Golding, Kenneth B', 0.0),
 ('Golub, Jay', 19900.0),
 ('Gonzalez-Jarrin, Aida A', 71940.0),
 ('Gotbaum, Betsy F', 1625090.0),
 ('Graziano, Paul D', 27320.0),
 ('Greco, Jr., Rudolph E', 75350.0),
 ('Green, Mark', 4534230.0),
 ('Greenwood, Doreen A', 78932.0),
 ('Gresser, Carol A', 596045.0),
 ('Grodenchik, Barry', 147626.0),
 ('Gutnik, Oleg', 90908.0),
 ('Haber, Jason S', 0.0),
 ('Hammerman, Craig R', 75350.0),
 ('Hernandez, Louis R', 10976.0),
 ('Herz, David R', 0.0),
 ('Hevesi, Alan G', 2641247.0),
 ('Hikind, Libby N', 124753.0),
 ('Hochhauser, Joseph K', 25020.0),
 ('Howell, Carol B', 0.0),
 ('Hoylman, Brad M', 91333.0),
 ('Hughes, Michael B', 0.0),
 ('Hui, Kwong T', 142973.0),
 ('Hunter, Robert A', 0.0),
 ('Hylton, Christian B', 51732.0),
 ('Iannece, Jerry M', 104602.0),
 ('Imprescia, Richard V', 0.0),
 ('Jackson, Gregory', 0.0),
 ('Jackson, Robert', 107262.0),
 ('James, Letitia', 147994.0),
 ('Jannaccio, Richard', 28736.0),
 ('Jefferson, Charlotte R', 53273.0),
 ('Jeffries-El, Joseph', 0.0),
 ('Jenkins, Cynthia', 0.0),
 ('Jenkins, Patrick B', 0.0),
 ('Jennings, Allan W', 41344.0),
 ('Jodha, Rameshwar', 0.0),
 ('Jorge, Chris', 45580.0),
 ('Kann, Jerry', 0.0),
 ('Katz, Melinda R', 150700.0),
 ('Kaufman, Jordan', 0.0),
 ('Kearney, Michael G', 75350.0),
 ('Kinard, Stanley', 0.0),
 ('Koppell, G. Oliver', 148090.0),
 ('Kramer, Kenny', 0.0),
 ('Lanza, Andrew J', 110891.0),
 ('Lasher, Susan', 53976.0),
 ('Law, Ronald', 0.0),
 ('Leffler, Sheldon S', 296084.0),
 ('Leighton, Thomas K', 0.0),
 ('Lesczynski, James L', 0.0),
 ('Levine, Mark D', 73320.0),
 ('Levy, Abraham', 55412.0),
 ('Lewis, Anna R', 77112.0),
 ('Lewis, Edward J', 30720.0),
 ('Lewis, Prince D', 0.0),
 ('Liu, John C', 150520.0),
 ('Lizardo, Roberto E', 75350.0),
 ('Lobo, Renee', 52672.0),
 ('Lopez, Margarita', 143682.0),
 ('Luciano, Felipe', 47720.0),
 ('Maio, Danniel S', 0.0),
 ('Mandell, Linda', 0.0),
 ('Marchant, Garth I', 110086.0),
 ('Markowitz, Marty', 1166294.0),
 ('Marshall, Helen M', 647173.0),
 ('Martin, Yolanda J', 0.0),
 ('Martinez, George', 0.0),
 ('Martinez, Juan D', 75350.0),
 ('Martinez, Miguel', 128786.0),
 ('Mascitti, Michael A', 0.0),
 ('Mateo, Heriberto', 68040.0),
 ('Mattera, Gloria', 31704.0),
 ('McCleary, Michelle L', 0.0),
 ('McMahon, Michael E', 150700.0),
 ('Miller, Robert J', 135118.0),
 ('Miranda, Anthony', 0.0),
 ('Molinaro, James P', 879456.0),
 ('Monserrate, Hiram', 74430.0),
 ('Montano, Armando', 90883.0),
 ('Moran, Janey', 56284.0),
 ('Morgan, Ishmael J', 21800.0),
 ('Morillo, Pedro', 0.0),
 ('Morisete-Romero, Victor', 75350.0),
 ('Moskowitz, Eva S', 150500.0),
 ('Nelson, Michael C', 63168.0),
 ('Norman, Edward J', 65496.0),
 ('Nunes-Ueno, Paulo', 0.0),
 ("O'Donovan, Jerome X", 647350.0),
 ("O'Malley, Patrick", 68724.0),
 ('Oddo, James S', 75350.0),
 ('Ortiz, Jr., Edwin O', 46752.0),
 ('Palmer, Samuel E', 75350.0),
 ('Park, Terence Y', 67286.0),
 ('Parker, Kevin', 75350.0),
 ('Perez, Richard', 63756.0),
 ('Perkins, Bill', 121650.0),
 ('Pina, Tirso S', 0.0),
 ('Poisson, Lola', 0.0),
 ('Puello, Giovanni', 50852.0),
 ('Pugliese, Anthony J', 75350.0),
 ('Purcell, Frances G', 67932.0),
 ('Quinn, Christine C', 0.0),
 ('Recchia, Domenic', 136327.0),
 ('Reed, Philip', 150700.0),
 ('Reich, David', 75350.0),
 ('Reiss, David J', 46048.0),
 ('Reyna, Diana', 150302.0),
 ('Rivera, Joel', 70444.0),
 ('Roberts, Edward A', 37780.0),
 ('Rodriguez, Angel', 75350.0),
 ('Rodriguez, Elizabeth', 31685.0),
 ('Rodriguez, Ydanis A', 116586.0),
 ('Romero, Michelle', 22172.0),
 ('Rose, Deborah', 132466.0),
 ('Rosero, Luis', 65356.0),
 ('Ruiz, Jr., Israel', 11423.0),
 ('Rupnarain, Trevor K', 75350.0),
 ('Saffran, Dennis J', 75350.0),
 ('Sanchez, Cynthia M', 0.0),
 ('Sanders, Jr., James J', 60152.0),
 ('Sansivieri, Linda', 75040.0),
 ('Sauer, Larry M', 62436.0),
 ('Saunders, Shirley J', 75350.0),
 ('Saunders, William J', 42075.0),
 ('Schulman, Lynn C', 74920.0),
 ('Schultheis, Magdalena U', 38088.0),
 ('Scissura, Carlo A', 75350.0),
 ('Seabrook, Larry B', 102426.0),
 ('Sears, Helen', 117915.0),
 ('Seeman, Craig A', 31632.0),
 ('Sementilli, Egidio J', 89502.0),
 ('Seminara, Joanne', 150700.0),
 ('Seminerio, John', 74350.0),
 ('Serrano, Jose M', 75160.0),
 ('Sharpe, Wellington', 0.0),
 ('Shepard, Joyce P', 55100.0),
 ('Sica, Philip T', 14632.0),
 ('Siegel, Norman H', 623300.0),
 ('Simon, Lew M', 74750.0),
 ('Simons, Earl G', 0.0),
 ('Singer, Pat', 61324.0),
 ('Singh, Inderjit', 0.0),
 ('Smith, Larry', 32189.0),
 ('Snyder, Gary D', 19124.0),
 ('Spalter, Laura', 75350.0),
 ('Spencer, Tony', 50782.0),
 ('Spirgel, Samuel C', 97454.0),
 ('Spitz, George N', 0.0),
 ('Stabile, Alfonso C', 0.0),
 ('Stavitsky, Inna', 53384.0),
 ('Stewart, Kendall B', 75350.0),
 ('Straniere, Robert A', 288388.0),
 ('Stringer, Scott M', 1223721.0),
 ('Taitt, Samuel A', 58530.0),
 ('Taliaferro, Phyllis', 0.0),
 ('Taveras, Germania', 0.0),
 ('Thakral, Jairam D', 75064.0),
 ('Thomas, Carl W', 0.0),
 ('Thompson, Jr., William C', 1096359.0),
 ('Tiraco, Joseph E', 0.0),
 ('Toney, Vaughan', 75350.0),
 ('Toppin, Roger N', 0.0),
 ('Torres, Mario A', 82082.0),
 ('Vallone, Jr., Peter F', 114910.0),
 ('Vallone, Peter F', 2458534.0),
 ('Van Bramer, James G', 133146.0),
 ('Vann, Albert', 75200.0),
 ('Vargas, Ruben Dario', 0.0),
 ('Vassos, Sandra', 68234.0),
 ('Vernet, Jean D', 70664.0),
 ('Viest, Nicholas D', 58488.0),
 ('Villaverde, Sergio', 0.0),
 ('Vogel, Mark H', 50112.0),
 ('Wai, Sidique A', 62184.0),
 ('Walker, John P', 44748.0),
 ('Walker, Willie', 0.0),
 ('Walsh, Ryan J', 21946.0),
 ('Wasserman, Abraham E', 41656.0),
 ('Wein, Joseph Funicell', 61260.0),
 ('Weir, Elias J', 0.0),
 ('Weprin, David I', 145850.0),
 ('Whitney, W Ruth', 0.0),
 ('Willebrand, Julia A', 0.0),
 ('Williams, Charles', 35808.0),
 ('Williams, Peter M', 75350.0),
 ('Williams-Pereira, Dorothy', 0.0),
 ('Wilson, Jay R', 0.0),
 ('Wilson, John H', 0.0),
 ('Wooten, Donald T', 0.0),
 ('Yassky, David', 150700.0),
 ('Zapiti, Mike', 12172.0),
 ('Zett, Lori M', 0.0)]

In [ ]:
# Run this cell without changes

# There should be 284 records
assert len(candidate_total_payments) == 284

# Each record should contain a tuple
assert type(candidate_total_payments[0]) == tuple

# That tuple should contain a string and a number
assert len(candidate_total_payments[0]) == 2
assert type(candidate_total_payments[0][0]) == str
assert type(candidate_total_payments[0][1]) == float

Now that we have this result, we can answer questions like: *which candidates received the most total payments from the city*?

In [29]:
# Run this cell without changes

# Print the top 10 candidates by total payments
sorted(candidate_total_payments, key=lambda x: x[1], reverse=True)[:10]

[('Green, Mark', 4534230.0),
 ('Ferrer, Fernando', 2871933.0),
 ('Hevesi, Alan G', 2641247.0),
 ('Vallone, Peter F', 2458534.0),
 ('Gotbaum, Betsy F', 1625090.0),
 ('Berman, Herbert E', 1576860.0),
 ('DiBrienza, Stephen', 1336655.0),
 ('Stringer, Scott M', 1223721.0),
 ('Markowitz, Marty', 1166294.0),
 ('Thompson, Jr., William C', 1096359.0)]

Since you found all of the column names, it is also possible to display all of the data in a nice tabular format using pandas. That code would look like this:

In [30]:
# Run this cell without changes

import pandas as pd

pd.DataFrame(data=data['data'][1:], columns=column_names)

,sid,id,position,created_at,created_meta,updated_at,updated_meta,meta,ELECTION,CANDID,CANDNAME,OFFICECD,OFFICEBORO,OFFICEDIST,CANCLASS,PRIMARYPAY,GENERALPAY,RUNOFFPAY,TOTALPAY
0,2,9D257416-581A-4C42-85CC-B6EAD9DED97F,2,1315925633,392904,1315925633,392904,{\n},2001,B4,"Aboulafia, Sandy",5,None,44,P,45410.00,0,0,45410.00
1,3,B80D7891-93CF-49E8-86E8-182B618E68F2,3,1315925633,392904,1315925633,392904,{\n},2001,445,"Adams, Jackie R",5,None,7,P,11073.00,0,0,11073.00
2,4,BB012003-78F5-406D-8A87-7FF8A425EE3F,4,1315925633,392904,1315925633,392904,{\n},2001,HF,"Addabbo, Joseph P",5,None,32,P,75350.00,73970.00,0,149320.00
3,5,945825F9-2F5D-47C2-A16B-75B93E61E1AD,5,1315925633,392904,1315925633,392904,{\n},2001,IR,"Alamo-Estrada, Agustin",5,None,14,P,25000.00,2400.00,0,27400.00
4,6,9546F502-39D6-4340-B37E-60682EB22274,6,1315925633,392904,1315925633,392904,{\n},2001,BR,"Allen, William A",5,None,9,P,62990.00,0,0,62990.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,281,C50E6A4C-BDE9-4F12-97F4-95D467013540,281,1315925633,392904,1315925633,392904,{\n},2001,537,"Wilson, John H",5,None,13,P,0,0,0,0
280,282,04C6D19F-FF63-47B0-B26D-3B8F98B4C16B,282,1315925633,392904,1315925633,392904,{\n},2001,559,"Wooten, Donald T",5,None,42,P,0,0,0,0
281,283,A451E0E9-D382-4A97-AAD8-D7D382055F8D,283,1315925633,392904,1315925633,392904,{\n},2001,280,"Yassky, David",5,None,33,P,75350.00,75350.00,0,150700.00
282,284,E84BCD0C-D6F4-450F-B55B-3199A265C781,284,1315925633,392904,1315925633,392904,{\n},2001,274,"Zapiti, Mike",5,None,22,P,12172.00,0,0,12172.00
283,285,5BBC9676-2119-4FB5-9DAB-DE3F71B7681A,285,1315925633,392904,1315925633,392904,{\n},2001,442,"Zett, Lori M",5,None,24,P,0,0,0,0

## Summary

Congratulations! You've started exploring some more JSON data structures used for the web and got to practice data munging and exploring!